@page "/deletecategorycomponent/{Id:int}"
@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient HttpC
@inject NavigationManager NavigationManager

<h3>Eliminar Categoría</h3>
<p>Deseas eliminar el @Id ?</p>
<div>
    <button @onclick="Cancelar">Cancelar</button>
    <button @onclick="Delete">Eliminar</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    public string routeCategories = "/api/category";
    Response<object> oResponse = new Response<object>();

    private async Task Delete()
    { 
        var response = await HttpC.DeleteAsync(routeCategories + "/" + Id);
        oResponse = response.Content.ReadFromJsonAsync<Response<object>>().Result;

        NavigationManager.NavigateTo("categories");
    }

    private void Cancelar() => NavigationManager.NavigateTo("categories");

}
